body{
    margin: 0;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: 48px;
}
footer{
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 5px 100%;
}
header{
    background-color:  rgb(56, 56, 56);
    color: white;
    display: block;
    padding: 5px 100%;
}